fastapi
uvicorn[standard]
python-multipart
python-jose[cryptography]
sqlalchemy
pillow-heif
bcrypt==4.0.1
passlib[bcrypt]
psycopg2-binary
pydantic[email]
celery
redis
plotly
reportlab
websockets
easyocr
pytesseract
opencv-python
pdf2image
pdfplumber
python-docx
python-pptx
slowapi
sentry-sdk[fastapi]
python-dotenv
pyjwt
PyPDF2
cryptography
fuzzywuzzy
python-Levenshtein
qrcode[pil]
